primary = #d26b32
primaryLight = #FED18C
secondary = #427daa
secondaryLight = #EEF8F5
tableRadius = 5px

@font-face
	src url('/fonts/icons.eot')
	src url('/fonts/icons.eot?#iefix') format('embedded-opentype'), url('/fonts/icons.woff') format('woff'), url('/fonts/icons.ttf') format('truetype'), url('/fonts/icons.svg') format('svg')
	font-family icons

.icon
	font-family icons

body
	color #333

p
	line-height 1.6em

p, 
ul,
h1,
h2,
h3,
h4
	text-shadow 1px 1px 0 rgba(255,255,255, .4)

a, 
button,
tr
	transition .2s
	&:hover
		transition .2s

.main-btn
  background-color secondary
  border 1px solid secondary
  &:hover
  	background-color darken(secondary, 10%)

.btn
	text-shadow 1px 1px 0 rgba(0,0,0, .2)
	letter-spacing .03em

h1
	font-weight 600
	color primary
	font-size 40px

#main
	margin-top 90px
	min-height 550px

.main-content
	padding-top:30px

.navbar-nav
	float right
	
.table-header
	padding 10px
	margin-bottom 0
	border-radius tableRadius tableRadius 0 0
	border: 1px solid #CCC;

table tr:last-child
	border 0

.table-icon
	font-size 15px
	color #CCC
	
.panel-heading
	h3
		margin 0
		
.content-block
	padding-top 50px
	padding-bottom 50px
  
.default-block
	@extend .content-block
	background #f9f9f9
	
.tooltip-inner
	max-width 350px
	
.popover
  min-width 300px
	.quote-text
		font-style italic
