.col-lg-4
    padding-right 25
    padding-left 25

.about
	margin-top 40px

.content-block:first-child
	margin-bottom 60px

.content-block
	margin-bottom 50px

.col-md-4 .featurette-image
  width 350px
  height 350px

.featurette-divider
  margin 20px 0

.featurette-heading
  font-weight 300
  line-height 1
  letter-spacing -1px
  margin-top 50px

.exploring
  h3, .glyphicon
  	display inline-block
  	vertical-align middle
  h3
  	padding-left 10px

.glyphicon
	font-size 24px
	vertical-align middle