.comments-wrap
  margin-top 30px
  margin-bottom 30px
  textarea,
  button
    margin-bottom 0
  textarea
    min-height 200px

.comments-container
  padding-left 0
  padding-right 0
  .list-group
    border-left 0
    border-right 0

.comment-list
  margin-top 30px

.comment-form
  padding-left 15px
  padding-right 15px

.list-group-item:first-child
.list-group-item:last-child
  border-radius 0

.comment
  padding-bottom 0
  margin-bottom 25px
  border 0
  border-bottom 1px solid #ebebeb
  border-top 1px solid #ebebeb
  background #f9f9f9

.comment-info
  padding-top 10px
  padding-bottom 8px
  background #FFF

.add-comment
  margin 20px 0 40px 0

.user,
.time
  color #666
  font-size 12px
  p
    margin 0

.time
  text-align right
  font-size 11px