.comments-wrap
  margin-top 30px
  margin-bottom 30px
  textarea,
  button
    margin-bottom 0
  textarea
    min-height 200px

.comments-container
  padding 0
  .at-form
    margin-top 0
  .list-group
    border-left 0
    border-right 0
  .at-signup-link,
  .at-signin-link
    margin-bottom 0

.comment-list
  margin-top 30px

.comment-form
  padding 15px
  background-color secondary-light

.list-group-item:first-child
.list-group-item:last-child
  border-radius 0

.comment
  padding-bottom 0
  margin-bottom 25px
  border 0
  border-bottom 1px solid l-gray
  border-top 1px solid l-gray
  background #f9f9f9
  button
    margin-bottom: 10px

.comment-info
  padding-top 10px
  padding-bottom 8px
  background #FFF

.add-comment
  margin 20px 0 40px 0

.user,
.time
  color #666
  font-size 12px
  p
    margin 0

.time
  text-align right
  font-size 11px
  
@media (max-width: 768px)
  .time
    text-align left
    color #888