.fact-sheet-wrap
  background #EEF8F5
  padding-top 30px
  padding-bottom 20px
  margin-bottom 30px

.stats-field
  border-bottom 1px dotted #000

.event-head
  h1
    margin 0
  .minor
    font-size 24px
  h3
    margin 5px 0 0 0 
    color #427daa
    font-size 18px

.minor
  color #666
  font-size 20px
  font-weight normal
  margin 0

.basic-info
  margin-bottom 20px
  
.tables 
  td:first-child
    width 40%
  
.location-list
  width 450px
  
svg 
  border-radius 5px 5px 0 0
  
.main-facts
  margin: 20px 0
  border-radius 5px
  &:after
    clear both
    content ''
    display block
    
.main-fact
  min-height 125px
  border-right 1px solid #CCC
  padding 0
  text-align center
  dt
    border-bottom: 1px solid #CCC
    padding 5px
    font-size 16px
  dd
    padding 15px 10px 10px 10px
  &:last-child
    border 0

dd.lrg
  font-size 18px
  
.attention
  background-color #f8ecec
  
.references
  h2
    font-size 16px
    margin 0
    display inline-block
  p
    font-style italics    
  .date
    margin 0
    
.ref-link
  &:hover
    text-decoration none

    