.icons
  font-family icons
  
.transmission-icons
  li
    @extend .icons
    font-size 65px
    color #333
    padding 0 5px
    display inline-block
    line-height 65px
  .type-close
    &::before
      content "c"
  .type-vector
    &::before
      content "v"
  .type-vertical
    &::before
      content "u"
  .type-NF
    &::before
      content "n"
  .type-nosocomial
    &::before
      content "h"
  .type-unknown
    &::before
      content "u"
  .type-airborne
    &::before
      content "a"
  .type-transmission
    &::before
      content "t"
  .type-foodborne
    &::before
      content "f"      
  .type-sexual
    &::before
      content "s"    

.icon-wrap
  position absolute
  right 0
  top 0
  bottom 0
  text-align right
  color #CCC
  span
    &:hover
      color #1BAA4A

.right-icon
  display inline-block
  font-size 20px
  margin-right 4px
  margin-top 6px

.description-wrap
  position: absolute
  top 0
  bottom 0
  width 30px
  right 0
  &:hover
    color #1BAA4A

.table-icon
  @extend .icons
  display inline-block

.description
  position absolute
  right 10px
  top 8px

.description,
.description-inline
  &::before
    content 'i'
    @extend .table-icon

.description-inline
  color #CCC
  font-size 90%
  padding: 3px
  &::before 
    vertical-align top

.reference
  margin-right 8px
  @extend .right-icon
  &::before
    content 'r'
    @extend .table-icon
.quote
  @extend .right-icon
  &::before
    content 'Q'
    @extend .table-icon
    margin-right 5px
    
