.transmission-icons
  li
    @extend .icon
    font-size 65px
    color #555
    padding 0 5px
    display inline-block
    line-height 65px
  .type-direct
    &::before
      content "\0063"
  .type-vector
    &::before
      content "\0076"
  .type-vertical
    &::before
      content "\0075"
  .type-NF
    &::before
      content "\006E"
  .type-nosocomial
    &::before
      content "\0068"
  .type-unknown
    &::before
      content "\003F"
  .type-airborne
    &::before
      content "\0061"
  .type-transmission
    &::before
      content "\0074"
  .type-oral
    &::before
      content "\E800"      
  .type-sexual
    &::before
      content "\0073"    
  .type-contamination
    &::before
      content "\0043" 

.icon-wrap
  position absolute
  right 0
  top 0
  bottom 0
  text-align right
  color #CCC
  span
    &:hover
      color #1BAA4A

.right-icon
  display inline-block
  font-size 20px
  margin-right 4px
  margin-top 6px

.description-wrap
  position: absolute
  top 0
  bottom 0
  width 30px
  right 0
  &:hover
    color #1BAA4A

.table-icon
  @extend .font-awesome
  display inline-block
  font-size 20px
  color #CCC

.description
  position absolute
  right 10px
  top 8px

.description,
.description-inline
  &::before
    content '\f129'
    @extend .table-icon

.description-inline
  padding 3px
  &::before 
    vertical-align top
    color #999
    font-size 80%

.reference
  margin-right 8px
  @extend .right-icon
  &::before
    content '\f02d'
    @extend .table-icon
.quote
  @extend .right-icon
  &::before
    content '\f10e'
    @extend .table-icon
    margin-right 5px
    