 
.reactive-table 
  padding-left 0
  padding-right 0
  border-radius 5px
  overflow hidden
  border table-border
  tr
    cursor pointer
.reactive-table-columns-dropdown
  button
    text-shadow none
    &:hover
      @extend .white-shadow
  float left !important
  width auto
  padding 0
.reactive-table-options
  float none
  width 100%
  padding 0
.dropdown-menu
  min-width 350px
.dropdown-menu-right
  left 0 !important
  right 0
     
@media (min-width: 768px)
  .reactive-table-filter
    width 40%
    padding 0
    
@media (max-width: 768px)
  .reactive-table 
    td
      display none
      border-top 0 !important
      &:first-child
        display block
        padding-top 20px
        padding-bottom 20px
      &:hover,
      &:focus
        background l-gray
    tr:last-child td:first-child
      border 0
  .reactive-table-filter
    padding 10px 0 10px 0
  .reactive-table-options
    margin 0
    padding 0
    .dropdown-toggle
      display none
  .reactive-table-input
    padding 20px 10px
  .next-page
  .page-number
    width 100%
    float none
    label 
      display none
    .previous-page,
    .next-page
      display block
      width 45%
      float left
      background secondary
      text-align center
      padding 10px
      color white
      border-radius 3px
      cursor pointer
      &:focus,
      &:hover
        background darken(secondary, 15%)
        border primary
        color white
      
    .next-page
      float right
      
  .rows-per-page
    display none