subtle-green = #EEF8F5
table-border = 1px solid #DDD

.event
  .table
      td:first-child
        width 40%
        border-right 1px solid #DDD
        padding-right 20px
        
.fact-sheet-wrap
  background subtle-green
  padding-top 30px
  padding-bottom 20px
  margin-bottom 30px

.stats-field
  border-bottom 1px dotted #000

.event-head
  h1
    margin 0
  .minor
    font-size 24px
  h3
    margin 5px 0 0 0 
    color #427daa
    font-size 18px

.minor
  color #666
  font-size 20px
  font-weight normal
  margin 0

.basic-info
  margin-bottom 20px

.notes
  margin-bottom 30px
  h3
    color #666

.tables 
  td:first-child
    width 40%
    border-right table-border
    padding-right 25px
  td
    position relative
  td:last-child
    padding-right 80px
  
.location-list
  width 450px
  tr:first-child td
    border-top 0
  td
    position relative
  
.main-facts
  margin: 20px 0
  text-align center
  margin-bottom 40px
  th, td
    border-right table-border
    text-align center
  th
    font-size 16px
    border-bottom table-border
  th:last-child,
  td:last-child
    border-right 0
  &:after
    clear both
    content ''
    display block
  .lrg
    font-size 18px

.attention
  background-color #f8ecec
  
.references
  h2
    font-size 16px
    margin 0
    display inline-block
  p
    font-style italics    
  .date
    margin 0
    
.ref-link
  &:hover
    text-decoration none

