.icon
  font-family icons
  
.main-btn
  background-color secondary
  border 1px solid secondary
  &:hover
    background-color darken(secondary, 10%)
    
.white-shadow
  text-shadow 1px 1px 0 rgba(255,255,255, .4)

.dark-shadow
  text-shadow 1px 1px 0 rgba(0,0,0, .2)
  
.content-block
  padding-top 50px
  padding-bottom 50px