.icon
  font-family icons

.font-awesome
  font-family FontAwesome
  -webkit-font-smoothing antialiased
  
.main-btn
  background-color secondary
  border 1px solid darken(secondary, 10%)
  color white
  &:hover,
  &:focus
    background-color darken(secondary, 10%)
    color white
    border-color darken(secondary, 20%)
    
.white-shadow
  text-shadow 1px 1px 0 rgba(255,255,255, .4)

.dark-shadow
  text-shadow 1px 1px 0 rgba(0,0,0, .2)
  
.content-block
  padding 50px 0