footer
  position absolute
  bottom 0
  z-index 100
  width 100%
  border-top 2px solid secondary
  background white
  height footer-height
  a
    bg('/images/eha-logo', 280px, 78px, 'png')
    display block
    margin 10px auto
  .eha
    text-align center
    img
      margin-bottom 15px
  address
    font-size 90%
    color m-gray

@media (max-width: 768px)
  footer
    height mobile-footer-height
    a
      changeBGSize(150px,42px)
