.navbar
  min-height 5px
  background-color #FFF
  border-bottom 2px solid #1BAA4A
  li > a
  	padding 25px 15px
  	font-size 15px
  	color #333
  	letter-spacing 0.02em
  	
.navbar-default .navbar-nav > li > a
	font-size 16px
	&:hover
		background-color #1BAA4A
		color #FFF
		text-shadow 1px 1px 0 rgba(0,0,0, .2)

.dropdown-menu 
	> li > a
		padding 3px 20px

.logo
  height 50px
  width 50px
  float left
  padding-top 15px

.navbar-brand
	background-image url("eidr-logo.png")
	background-size 85px 47px
	background-repeat no-repeat
	width 85px
	margin-top 10px
	
.disclaimer
	background-color #edddaa
	width 100%