.navbar
  min-height 5px
  background-color #FFF
  border-bottom 2px solid secondary
  li > a
    padding 25px 15px
    font-size 15px
    color #333
    letter-spacing 0.02em
    
.navbar-default .navbar-nav > li > a
  font-size 16px
  color d-gray
  &:hover
    background-color secondary
    color #FFF
    @extend .dark-shadow

.dropdown-menu 
  > li > a
    padding 3px 20px

.logo
  height 50px
  width 50px
  float left
  padding-top 15px

.navbar-brand
  background-image url("eidr-logo.png")
  background-size 85px 47px
  background-repeat no-repeat
  width 85px
  margin-top 10px
  
.disclaimer
  width 100%
  padding 1px 0
  background-color warning
  a
    color d-gray
    &:hover
      color #000
