.navbar
  min-height 5px
  background-color #FED18C
  li a
  	padding 25px 15px
  	font-size 15px
  	color #000

.navbar-default
	border 0
	

.logo
  height 50px
  width 50px
  float left
  padding-top 15px

.navbar-brand
	background-image url("eidr-logo.png")
	background-size 80px 44px
	background-repeat no-repeat
	width 80px
	margin-top 10px
	