.navbar
  min-height 5px
  background-color #FED18C
  li > a
  	padding 25px 15px
  	font-size 15px
  	color #000

.navbar-default
	border 0

.logo
  height 50px
  width 50px
  float left
  padding-top 15px

.navbar-brand
	background-image url("eidr-logo.png")
	background-size 80px 44px
	background-repeat no-repeat
	width 80px
	margin-top 10px
	
.navbar-default .navbar-nav > li > a
	color #000
	font-size 16px
	&:hover
		background-color #d26b32
		color #FFF
		text-shadow 1px 1px 0 rgba(0,0,0, .2)