.navbar
  min-height header-height - 2
  background-color #FFF
  border-bottom 2px solid secondary
  z-index 2000
  li > a
    padding 25px 15px
    font-size 15px
    color #333
    letter-spacing 0.02em
    
.navbar-default .navbar-nav > li > a
  font-size 16px
  color d-gray
  &:hover
    background-color secondary
    color #FFF
    @extend .dark-shadow
    
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus
    background-color secondary
    color white
    @extend .dark-shadow

.dropdown-menu 
  > li > a
    padding 3px 20px

.logo
  height 50px
  width 50px
  float left
  padding-top 15px

.navbar-brand
  bg('eidr-logo-header', 85px, 47px, 'png')
  margin-top 10px
  
.disclaimer
  width 100%
  padding 1px 0
  background-color warning
  a
    color d-gray
    &:hover
      color #000

.link-text-nav
  display inline-block
  padding-right 3px

.navbar-nav
  .icon
    font-size 20px
    line-height 0
    display none
    &::before
      display block
    &.mail
      &::before
        content 'm'  
    &.login
      &::before
        content '\E800'
    &.logout
      &::before
        content '\E801' 
     
@media (min-width: 768px) and (max-width: 992px)
  .navbar-nav
    .icon
      display block
  .link-text-nav
      display none
  .navbar-default .navbar-nav > li > a
    font-size 14px
  li > a
    &.withIcon
      padding 35px 15px

@media (max-width: 768px)
  .navbar-nav
    border-bottom 2px solid white
    .icon
      display none
  .disclaimer
    display none
  .navbar-nav
    float none
  .navbar-brand
    background-size 63px 35px
    background-repeat no-repeat
    width 63px
    margin-top 10px
    height 45px
  .navbar
    min-height mobile-header-height
    li 
      border-bottom table-border
      > a
        padding 15px 30px
      &:last-child
        border 0
  .navbar-default .navbar-nav > .active > a,
  .navbar-default .navbar-nav > .active > a:focus
    background-color white
    color d-gray
    text-shadow none
  .nav
    margin 0
  .container > .navbar-collapse
    padding 0
    margin-right -30px
    margin-left -30px
  .navbar-fixed-top .navbar-collapse
    max-height 400px
  .navbar-toggle
    margin-right 0
    margin-top 10px
  .navbar-header
    min-height mobile-header-height
  .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus
    background-color ll-gray