.loading
  text-align center
  color #CCC
  p
    font-size 16px
    font-weight 300
    margin 10px 0 0 0
  &::before
    font-family icons
    content "L"
    display block
    font-size 200px
    line-height 200px
    -moz-animation spin 2s infinite linear
    -webkit-animation spin 2s infinite linear
    animation spin 2s infinite linear

@-webkit-keyframes spin
  0%
      -webkit-transform: rotate(0deg)
  100% 
    -webkit-transform: rotate(360deg)
@keyframes spin
  0% 
    transform:rotate(0deg)
  100% 
    transform:rotate(360deg)
@-moz-keyframes spin
  0%
    -moz-transform: rotate(0deg)
  100% 
    -moz-transform: rotate(360deg)
