primary = #8BC98A
secondary = #FED18C
medBlue = #1C7491
medGreen = #1CAA4C

tableRadius = 5px

body
	color #333
	text-shadow 1px 1px 0 rgba(255,255,255, .3)

p
	line-height 1.6em

h1
	font-weight 600
	color #D26B32
	font-size 40px

#main
	margin-top 60px

.main-content
	padding-top:30px

.navbar-nav
	float right
	
.table-header
	padding 10px
	margin-bottom 0
	border-radius tableRadius tableRadius 0 0
	border: 1px solid #CCC;

table tr:last-child
	border 0

.table-icon
	font-size 15px
	color #CCC
	
.panel-heading
	h3
		margin 0