#map
  width 100%
  min-height 350px
  margin-bottom 20px
  .leaflet-container .leaflet-control-attribution,
  .leaflet-container .leaflet-control-scale
      font-size 9px

    .leaflet-right .leaflet-control
      float none

    .leaflet-bottom
      left 0
