.map {
    position: relative;
    background-position: -20px -20px;
    width: 400px;
    height: 400px;
}

.map circle.public {
    fill: #49AFCD;
}

.map circle.private {
    fill: #DA4F49;
}

.map text {
    text-anchor: middle;
    fill: white;
    font-weight: bold;
}

.map circle.callout {
    stroke-width: 5px;
    stroke-dasharray: 9, 5;
    stroke-opacity: .8;
    fill: none;
    stroke: red;
}

.virtime {

}
