full-width()
  position absolute
  left 0
  right 0
  top 0
  bottom 0
  
clearFix()
  clear both
  content ''
  display block
  
fluid-ratio(widthLarge, heightLarge, widthSmall, heightSmall)
  slope = (heightLarge - heightSmall) / (widthLarge - widthSmall)
  height = heightSmall - widthSmall * slope

  padding-top slope * 100%
  height height

  background-size cover
  -moz-background-size cover
  background-position center
  
bg(path, w, h)
  background url(path) no-repeat
  background-size w h
  width w
  height h