secondary = #1BAA4A

.large-logo
  padding-top 15px
  padding-right 15px

.jumbotron
	margin-top 60px
	background #FFF
	p,
	h4
	.btns
	  margin-left 0px
  .btn
    margin 20px 0
    background-color secondary
    border 1px solid secondary
    &:hover
    	background-color darken(secondary, 10%)
  h1
		background url('eidr-logo-lrg.png') no-repeat 0 -1px
		background-size 500px 233px
		width 500px
		height 233px
		text-indent -9999px
	p, 
	span
		margin-top 15px
		font-size 18px
.intro-info
	width 800px
	margin 0 auto
	.container
		padding 0 0 0 80px

.large-logo
	display block
	margin 0 auto

.program
	margin-top 30px
	text-align center
	span
		color #666
	