.large-logo
  padding-top 15px
  padding-right 15px

.jumbotron
	position absolute
	top 60px
	bottom 0
	left 0 
	right 0
	background url('hero-home.jpg')
	background-size cover
	background-position center center
	p,
	h4
	.btns
	  margin-left 0px
	  text-align center
  .btn
    margin 20px
    
