.large-logo
  padding-top 15px
  padding-right 15px

.jumbotron
  margin-top 0
  padding 10px 0
  background #FFF
  p,
  h4
  .btns
    margin-left 0px
  .btn
    margin 20px 0
    @extend .main-btn
  h1
    bg('/images/eidr-logo', 500px, 254px, 'png')
    text-indent -9999px
  p,
  span
    margin-top 15px
    font-size 18px
.intro-info
  width 800px
  margin 0 auto
  .container
    padding 0 0 0 80px

.large-logo
  display block
  margin 0 auto

.program
  margin-top 30px
  text-align center
  span
    color #666
  img
    max-width 100%

@media (max-width: 768px)
  .intro-info
    width 100%
    .container
      padding: 0
  .jumbotron
    padding 30px 15px
    h1
      bg('/images/eidr-logo-small', 250px, 175px, 'png')
      margin 0 auto
      margin-bottom 20px
