.large-logo
  padding-top 15px
  padding-right 15px

.jumbotron
  margin-top 60px
  background #FFF
  p,
  h4
  .btns
    margin-left 0px
  .btn
    margin 20px 0
    @extend .main-btn
  h1
    bg('eidr-logo-lrg.png', 500px, 233px)
    text-indent -9999px
  p, 
  span
    margin-top 15px
    font-size 18px
.intro-info
  width 800px
  margin 0 auto
  .container
    padding 0 0 0 80px

.large-logo
  display block
  margin 0 auto

.program
  margin-top 30px
  text-align center
  span
    color #666
  img 
    max-width 100%

@media (max-width: 768px)
  .intro-info
    width 100%
    .container
      padding: 0
  .jumbotron
    h1
      bg('eidr-logo-small.png', 250px, 160px)
      margin 0 auto
      margin-bottom 20px