.varDefs
  margin-bottom 0
  dt
    font-size 16px
    font-weight 800
    color #444
  dd
    margin-bottom 20px
    
  h4
    font-size 14px
    
  h2
    color darken(blue, 10%)
.explanations-wrap
  padding-left 20px
.explanations
  .type
    color #444
    font-weight bold
.varDescription
  font-style italic
  

.field-wrap
  padding-right 0
  padding-left 0
  &:nth-child(even)
    background ll-gray
  &:last-of-type
    padding-bottom 50px
    