primary = #D06B39
primary-light = #FED18C
secondary = #2EA852
secondary-light = #EEF8F5

blue = #427daa

ll-gray = #f9f9f9
l-gray = #ebebeb
m-gray = #808080
d-gray = #333

warning = #EFAC56

tableRadius = 5px
table-border = 1px solid m-gray

header-height = 70px
mobile-header-height = 50px