.varDefs
  margin-bottom 0
  dt
    font-size 18px
    color #444
  dd
    margin-bottom 20px
    
  h4
    font-size 14px
  h2
    color darken(blue, 10%)
.explanations-wrap
  padding-left 20px
.explanations
  .type
    color #444
    font-weight bold
.varDescription
  font-size 16px
  
.field-wrap
  padding-right 0
  padding-left 0
  padding-top 30px
  padding-bottom 30px
  &:nth-child(even)
    background ll-gray
  &:last-of-type
    padding-bottom 50px
  &:first-of-type
    padding-top 10px
    
@media (max-width: 768px)
  .explanations-wrap
    padding 0
  .explanations
    padding-left 25px
