primary = #D06B39
primary-light = #FED18C
primary-l-light = lighten(primary, 90%)
secondary = #2EA852
secondary-light = #EEF8F5
secondary-l-light = lighten(secondary, 90%)

blue = #2D5987

ll-gray = #f9f9f9
l-gray = #ebebeb
m-gray = #808080
d-gray = #333

map-background = RGBA(205, 210, 212, 1)

warning = #EFAC56

tableRadius = 5px
table-border = 1px solid #DDD

header-height = 70px + 2 // 2px border
mobile-header-height = 60px + 2 // 2px border

footer-height = 100px
mobile-footer-height = 65px

link-color = darken(primary, 5%)
link-color-hover = blue
