template(name="about")
  .container
    .row.featurette
      .col-md-6
        h2.featurette-heading Background,
          span.text-muted Sicki @ EcoHealth Alliance
        p.lead Sicki GRID (Global Repository of Infectious Diseases) is a user-friendly and interactive website describing novel emerging infectious disease events between 1940 and 2013. The goal of Sicki GRID is to unravel the origins of Emerging Infectious Disease (EID) events by providing a thorough, transparent, and reviewed investigation of the literature. The project builds upon previous work at EcoHealth Alliance, such as the Hotspots maps published by Jones et al. (2008) in the journal Nature. Sicki GRID will improve, and expand the data required by the global health community to model disease emergence. Information was extracted directly from the literature and is displayed in maps, tables, and short narratives. 
      .col-md-6
        br
        br
        br
        br
        br
        a(href="http://www.ecohealthalliance.org")
          img.featurette-image.image-responsive(src="/eha_square.png")
    hr.featurette-divider
    .row.featurette
      .col-md-4
        img.featurette-image.image-responsive(src="/dtra_logo.png")
      .col-md-4
        img.featurette-image.image-responsive(src="/usaid_logo.png")
      .col-md-4
        h2.featurette-heading Funding
        p.lead The Sicki GRID project has been supported by DTRA and USAID.
