template(name="about")
  .container
    .row.featurette
      .col-md-6
        h2.featurette-heading Background,
          span.text-muted Sicki @ EcoHealth Alliance
        p.lead GRID was conceived as the Sicki Project by Dr. Nico Preston at EcoHealth Alliance to improve our understanding of Emerging Infectious Diseases (EIDs).
      .col-md-6
        a(href="http://www.ecohealthalliance.org")
          img.featurette-image.image-responsive(src="eha_square.png")
    hr.featurette-divider
    .row.featurette
      .col-md-4
        img.featurette-image.image-responsive(src="dtra_logo.png")
      .col-md-4
        img.featurette-image.image-responsive(src="usaid_logo.png")
      .col-md-4
        h2.featurette-heading Funding
        p.lead The GRID project has been supported by DTRA and USAID.
