template(name="contactUs")
  .about
    .container-fluid.exploring-wrap
      .container.content-block
        h2.centered.contactUsHeader Have a question about EIDR?
        p.lead.centered
        ul.row.exploring.list-unstyled
          li.col-xs-12.col-md-4.col-sm-6
            a.withIcon(href="mailto:eidr@ecohealthalliance.org" title="E-mail Us")
              span.fa.fa-envelope
              p eidr@ecohealthalliance.org
          li.col-xs-12.col-md-4.col-sm-6
            span.fa.fa-phone.fa-3x
            h3 Call | Fax            
            p Phone: 212-380-4460
            p Fax: 212-380-4465
          li.col-xs-12.col-md-4.col-sm-6
            span.fa.fa-building
            h3 World Headquarters
            p EcoHealth Alliance
            p 460 West 34th Street, 17th Floor
            p New York, New York 10001
