template(name="createEvent")
  .container-fluid
    .container
      .row
        .col-md-12
          h1 Create Emergence Event
 
          form#add-event.form-horizontal(novalidate)
            .form-group
              label.control-label.col-sm-2 Event Name
              .col-sm-8
                input.form-control(type='text', name='eventName' required)
            .form-group
              label.control-label.col-sm-2 Event Summary
              .col-sm-8
                textarea.form-control(name='eventSummary', rows='15')
              label.control-label.col-sm-2 Locations
              .col-sm-8
                +locationSelect2
            .row
              .col-sm-3.col-sm-offset-7
                button#add-event.btn.btn-primary.btn-lg.btn-block(type='submit') Add Event
