template(name="createEvent")
	.container-fluid
		.container.content-block
			.row
				.col-md-12
					h1 Create Emergence Event

			form#add-event.form-horizontal
				.form-group
					label.control-label.col-md-2 Event Name
					.col-md-8
						input.form-control(type='text', name='eventName')
				
				.row
					.col-md-3.col-md-offset-7
						button#add-event.btn.btn-primary.btn-lg.btn-block(type='submit') Add Event
			
			.row
				.col-md-12
					| Current user defined event count: {{currentCount}}