template(name="createEvent")
  .container-fluid
    .container
      .row
        .col-md-12
          h1 Create Emergence Event
 
          form#add-event.form-horizontal
            .form-group
              label.control-label.col-sm-2 Event Name
              .col-sm-8
                input.form-control(type='text', name='eventName')
            .row
              label.control-label.col-sm-2 Locations
              .col-sm-8
                .form-group
                  .col-sm-12
                    input.form-control.location-input(type='text', name='l0', placeholder="Geonames.org link")
                each id in tempLocations
                  .form-group
                    .col-sm-12
                      .input-group
                        input.form-control.location-input(type='text', name='l{{id}}', placeholder="Geonames.org link")
                        span.input-group-btn
                          button.btn.btn-danger.remove-location(type="button", data-location-id='{{id}}')
                            i.fa.fa-times
                .form-group
                  .col-sm-5
                    button#add-location.btn.btn-primary.btn-block(type="button") Add Another Location Field
            .row
              .col-sm-3.col-sm-offset-7
                button#add-event.btn.btn-primary.btn-lg.btn-block(type='submit') Add Event
