template(name="jsonDownload")
  .container
    a(href="{{this}}" download="eidr.json" target="_blank") eidr.json 
  
template(name="csvDownload")
  .container
    a(href="{{this}}" download="eidr.csv" target="_blank") eidr.csv