template(name="events")
  section.container.events
    +potentialEventsFilter
    +reactiveTable collection="events" settings=settings

template(name="potentialEventsFilter")
  .potential-events-filter
    .input-group
      input(type="checkbox" checked="{{checked}}")
      span See Potential Emergence Events