template(name="events")
  .container
    h1 Historical Events
  section.container.events
    if settings.fields
      +reactiveTable collection="events" settings=settings
    else
      p No fields to display
