template(name="eventMap")
  .container.map-search-wrap
    .map-filter-content
      .form-group
        each getCategories
          .checkbox
            label
              input.category(type="checkbox" value="#{this}" checked) 
              | #{this}
    .map-search-content
      .row
        .col-sm-5
          .zoonosis
            span Zoonotic?
            .form-group
              .checkbox-inline
                label
                  input.zoonosis(type="checkbox" value="Yes" checked) 
                  | Yes
              .checkbox-inline
                label
                  input.zoonosis(type="checkbox" value="No" checked) 
                  | No
        .col-sm-7
          .input-group
            span.input-group-addon
              i.fa.fa-filter
            input.map-search.form-control(type="text" placeholder="Filter")
            span.clear-search
              i.fa.fa-times-circle
  .fluid-container
    #event-map