template(name="header")
  header.navbar.navbar-default.navbar-fixed-top(role="navigation")
    .disclaimer
      .container 
        i.fa.fa-exclamation-triangle &nbsp;&nbsp;
        | EIDR's data is currently under review and this application is a prototype. Contact
        a(href="mailto:admin@ecohealth.io") admin@ecohealth.io
        | for more information.
    .container
      .navbar-header
        a.navbar-brand(href="{{pathFor 'splash'}}")
        button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
      collapse.navbar-collapse
        ul.nav.navbar-nav
          li
            a(href="{{pathFor 'about'}}") About
          li
            a(href="{{pathFor 'events'}}") Emergence Events
          li.dropdown
            a.dropdown-toggle(href="#" data-toggle="dropdown") Download
              span.caret
            ul.dropdown-menu(role="menu")
              li
                a(href="{{pathFor 'sicki-grid.csv'}}", target="_blank") CSV
              li
                a(href="{{pathFor 'sicki-grid.json'}}", target="_blank") JSON
          li
            a(href="{{pathFor 'eventMap'}}") Event Map
          li
            a(href="mailto:admin@ecohealth.io") Contact Us
