template(name="header")
  header.navbar
    .navbar-default.navbar-fixed-top(role="navigation")
      .container
        .navbar-header
          img.logo(src="/grid_logo.png")
          a.navbar-brand(href="{{pathFor 'splash'}}") Sicki GRID
        ul.nav.navbar-nav
          li
            a(href="{{pathFor 'about'}}") About
          li
            a(href="{{pathFor 'events'}}") Emergence Events
          li
            a(href="mailto:admin@ecohealth.io") Contact Us
