template(name="header")
  header
    nav.navbar.navbar-default.navbar-fixed-top
      .container-fluid
        .container
          .navbar-header
            button.navbar-toggle.collapsed(type='button', data-toggle='collapse' data-target=".navbar-collapse")
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.navbar-brand(href="{{pathFor 'splash'}}")
          
          .collapse.navbar-collapse
            +navLinks

template(name="navLinks")
  ul.nav.navbar-nav
    li
      a(href="{{pathFor 'about'}}") About
    li
      a(href="{{pathFor 'events'}}") Emergence Events
    if currentUser
      li
        a(href="{{pathFor 'download'}}") Download
    li
      a(href="{{pathFor 'eventMap'}}") Event Map
    li
      a(href="mailto:admin@ecohealth.io") 
        span.link-text-nav Contact Us
        span.glyphicon.glyphicon-envelope
    li
      +account

template(name="account")
  if currentUser
    a(href="")#logOut
      span.link-text-nav Sign Out
      span.glyphicon.glyphicon-log-out
  else
    a(href="/sign-in")
      span.link-text-nav Sign In
      span.glyphicon.glyphicon-log-in
