template(name="mapFilters")
  .container.map-search-wrap
    .mobile-control
      span Filters
    .map-filter-content
      .search-wrap
        .input-group
          span.input-group-addon
            i.fa.fa-filter
          input.map-search.form-control(type="text" placeholder="Search")
          span.clear-search
            i.fa.fa-times-circle
      .toggles
        .filter
          h2 Filters
        .filters-wrap.hidden
          .filter-block
            h3 Emergence Type
              span.check.uncheck-all
            .form-group.checkAll
              each getFieldValues fields 'eidCategory'
                .checkbox
                  label
                    input.eidCategory(type="checkbox" value="#{this}" checked)
                    | #{this}
          .filter-block.zoonosis
            h3 Zoonotic
            .form-group
              .checkbox
                label
                  input.zoonotic(type="checkbox" value="Yes" checked)
                  | Yes
              .checkbox
                label
                  input.zoonotic(type="checkbox" value="No" checked)
                  | No
              h4 Transmission of the microorganism from animals to people (Event Specific)
              .checkbox
                label
                  input.eventTransmissionAnimal(type="checkbox" value="Yes" checked)
                  | Yes
              .checkbox
                label
                  input.eventTransmissionAnimal(type="checkbox" value="No" checked)
                  | No
              .checkbox
                label
                  input.eventTransmissionAnimal(type="checkbox" value="Uncertain" checked)
                  | Uncertain
              .checkbox
                label
                  input.eventTransmissionAnimal(type="checkbox" value="Not Found" checked)
                  | Not Found
