template(name="splash")
	.jumbotron
			.intro-info
				h1 EIDR
				.container
					p EIDR is dedicated to exploring the origins of Emerging Infectious Diseases (EIDs). EIDR contains a collection of historical events that represent the earliest known emergence of EIDs. It also provides facilities for site curators to track on-going events. This web platform is developed and maintained by EcoHealth Alliance in New York City, USA.
					.row
						.col-sm-4
							a.btn.btn-primary.btn-lg.btn-block(href="{{pathFor 'events'}}", role="button") View Historical Events
						.col-sm-4
							a.btn.btn-primary.btn-lg.btn-block(href="{{pathFor 'user-events'}}", role="button") View Tracked Events
						.col-sm-4
							a.btn.btn-primary.btn-lg.btn-block(href="{{pathFor 'about'}}", role="button") Learn More
