template(name="splash")
  .jumbotron
    .container
      span
        img.large-logo(src="grid_logo_inverse.png")
        h1 EcoHealth GRID
        h2 Global Repository of Infectious Disease Data
        p Resources and data related to global Infectious Disease (ID) events from 1940 to present. This web platform is developed and maintained by EcoHealth Alliance in New York City, USA.
        p.btns
          a.btn.btn-primary.btn-large(href="{{pathFor 'about'}}", role="button") Learn More &raquo;
          a.btn.btn-primary.btn-large(href="{{pathFor 'events'}}", role="button") View Emergence Events &raquo;
