template(name="splash")
	.jumbotron
			.intro-info
				h1 EIDR
				.container
					p EIDR is dedicated to exploring the origins of Emerging Infectious Diseases (EIDs). EIDR contains events that represent the earliest known emergence of EIDs, spanning 1940-2013. This web platform is developed and maintained by EcoHealth Alliance in New York City, USA.
					.row
						.col-sm-6
							a.btn.btn-primary.btn-lg.btn-block(href="{{pathFor 'events'}}", role="button") View Emergence Events
						.col-sm-4
							a.btn.btn-primary.btn-lg.btn-block(href="{{pathFor 'about'}}", role="button") Learn More
