template(name="userEvents")
	section.container.events
		if currentUser
			a.btn.btn-link(href="{{pathFor 'create-event'}}") Create New Event
		
		+reactiveTable collection="userEvents" settings=settings