template(name="userEvent")
  .container-fluid.fact-sheet-wrap.event.space-btm-4
    .container
      .row
        .col-lg-12.event-head
          with userEvent
            .basic-info
              .row
                if isEditing
                  form#editEvent
                    .col-sm-8.space-btm-2
                      input.form-control.input-lg(type='text', name='eventName', value='{{eventName}}')
                    .col-sm-2.space-btm-2
                      button#save-edit.btn.btn-primary.btn-lg.btn-block(type='submit') Save
                    .col-sm-2.space-btm-2
                      button#cancel-edit.btn.btn-default.btn-lg.btn-block(type='button') Cancel
                else
                  .col-sm-10
                    h1 {{eventName}}
                  .col-sm-2
                    if currentUser
                      button#edit.btn.btn-default.btn-lg.btn-block Edit
  
  .container.tables
    .row
      .col-lg-6
        +locationList
      .col-lg-6
        +articles

template(name="locationList")
  .panel.panel-default
    .panel-heading
      h3 Locations
    .panel-body
      if locations.length
        if currentUser
          .form-horizontal
            each locations
              .form-group
                .col-sm-12
                  button.btn.btn-danger.btn-sm.remove-location(type="button")
                    i.fa.fa-times
                  a(href="{{url}}") {{url}}
        else
          ul
            each locations
              li.location-list
                a(href="{{url}}") {{url}}
      else
        p No locations are associated with this event.
      if currentUser
        .form-horizontal
          .form-group
            .col-md-12
              input#new-location.form-control(type='text', name='location', placeholder="Geonames.org link")
           .form-group
            .col-lg-4.col-lg-offset-8.col-md-12
              button#add-location.btn.btn-primary.btn-block(type="button") Add Location

template(name="articles")
  .panel.panel-default
    .panel-heading
      h3 Articles
    .panel-body.comments-container
      .comment-form
        if currentUser
          form#add-article.form-horizontal
            .form-group
              .col-lg-12
                input.form-control.new-article(name="article" placeholder="Article URL associated with this event.")
            .form-group
              .col-lg-4.col-lg-offset-8.col-sm-12
                button.btn.btn-primary.btn-lg.btn-block(type="submit") Add article
        else
          +atForm
    ul.list-group
      each articles
        +article

template(name="article")
  li.list-group-item
    .row
      .col-md-10
        a.ref-link(href="{{url}}" target="_blank") {{url}}
      .col-md-2
        if currentUser
          button.btn.btn-default.btn-sm.delete-article("article-id" = _id) Delete