template(name="varDefs")
  .fluid-container
    .container
      h1 Variable Definitions
    dl.varDefs
      each groupValues fields
        .field-wrap
          .container
            .row
              .col-sm-9
                h2 {{addTitle this}}
                each this
                  dt #{displayName}
                  dd 
                    p.varDescription #{webVariableDescription}
                    if displayValues dropdownExplanations
                      .explanations-wrap
                        ul.explanations
                          each displayValues dropdownExplanations
                            li 
                              span.type #{type}: 
                              span.explanation #{explanation}
